---
import Layout from '@/layouts/BaseLayout.astro'
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts'

import { buttonVariants } from '@/components/ui/button'
import { cn } from '@/lib/utils'
import { ArrowRightIcon } from 'lucide-react'
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<article class='prose'>
		<h1 class='text-3xl'>A Simpler Approach to Personal Finance</h1>
		<p>
			Welcome to The Financial Simplicity Handbook - your guide to taking the stress and confusion
			out of managing your money. Around here, we believe financial literacy shouldn't have to feel
			so...complex. That's why our mission is to simplify the world of finance and empower you to
			navigate everything from stocks to budgeting with ease.
		</p>
		<p>
			No more scratching your head over financial jargon or feeling overwhelmed by the sheer volume
			of information out there. Instead, get ready for a simplified approach that will have you
			handling your money with confidence in no time. Whether you're trying to get a grip on
			investing, looking to master the art of budgeting, or simply want to feel more in control of
			your financial future - you've come to the right place.
		</p>
		<p>
			So go ahead, take a look around, and get ready to say goodbye to financial frustration. This
			is your starting point for taking the complexity out of personal finance and putting you
			firmly in the driver's seat. Let's get started!
		</p>
	</article>
	<div class='flex justify-end items-center mt-5'>
		<a
			href='/basics'
			class={cn(buttonVariants({ variant: 'default', size: 'sm' }), 'no-underline')}>
			Get Started
			<ArrowRightIcon className='ml-2 size-4' />
		</a>
	</div>
</Layout>
